n8n/backup/workflows/My_workflow_2 (5).json
{
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {
        "model": "nomic-embed-text:latest"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        280,
        300
      ],
      "id": "3920c589-31ba-496c-81bf-f42ffc205e83",
      "name": "Embeddings Ollama",
      "credentials": {
        "ollamaApi": {
          "id": "xHuYe0MDGOs9IpBW",
          "name": "Local Ollama service"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        500,
        200
      ],
      "id": "1f33f162-5cbb-44d5-b21a-08a48f936197",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "mode": "insert",
        "qdrantCollection": {
          "__rl": true,
          "value": "documents",
          "mode": "id"
        },
        "embeddingBatchSize": 250,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.1,
      "position": [
        380,
        0
      ],
      "id": "2846740d-68ee-468e-ac50-0acbabfbd1c9",
      "name": "Qdrant Vector Store",
      "credentials": {
        "qdrantApi": {
          "id": "sFfERYppMeBnFNeA",
          "name": "Local QdrantApi database"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "udhay86kumar",
          "mode": "list",
          "cachedResultName": "udhay86kumar",
          "cachedResultUrl": "https://github.com/udhay86kumar"
        },
        "repository": {
          "__rl": true,
          "value": "RAG_App",
          "mode": "list",
          "cachedResultName": "RAG_App",
          "cachedResultUrl": "https://github.com/udhay86kumar/RAG_App"
        },
        "filePath": "Teacher_Self_Registration_C2C_Guide.pdf",
        "additionalParameters": {}
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "82b5ad91-91ef-4f32-ab70-eb1bac278139",
      "name": "GitHub",
      "webhookId": "ac5cd62a-5a3a-464d-8515-3e2978935b11",
      "credentials": {
        "githubApi": {
          "id": "FR7AE3VKq1wUM3qv",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -240,
        20
      ],
      "id": "49339f64-4d8d-4c64-a167-0bc541f5504b",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "model": "llama3.1:latest",
        "options": {
          "numPredict": 2000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        1500,
        220
      ],
      "id": "608c9cf3-a2c1-4d45-b3c2-7d67d6811aa5",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "xHuYe0MDGOs9IpBW",
          "name": "Local Ollama service"
        }
      }
    },
    {
      "parameters": {
        "model": "nomic-embed-text:latest"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        1780,
        460
      ],
      "id": "b4f667ac-72b3-4919-a5d7-c78987ef5241",
      "name": "Embeddings Ollama1",
      "credentials": {
        "ollamaApi": {
          "id": "xHuYe0MDGOs9IpBW",
          "name": "Local Ollama service"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "systemPromptTemplate": "=You are a smart, accurate, and reliable assistant. Only use the provided context retrieved from uploaded documents and the vector store to answer questions. Do not rely on prior knowledge or make assumptions. If the context does not contain a relevant answer, say:\n\"I could not find relevant information in the provided context.\"\n\n---------------------\nContext:\n{context}\n\n---------------------\nHuman:\n{{ $json.chatInput }}\n\nInstructions:\n- Answer based only on the context from the vector store.\n- If the context includes any links or source information, include them in the response.\n- Format your answer clearly. Use bullet points, headings, or markdown where appropriate.\n- If the input is vague or partial, try to infer and guide the user helpfully using only the provided context.\n- Never fabricate or hallucinate any information outside of what's retrieved.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainRetrievalQa",
      "typeVersion": 1.5,
      "position": [
        1560,
        -60
      ],
      "id": "abc0599e-14ab-40d6-b1a9-f6f00d22abcb",
      "name": "Question and Answer Chain",
      "alwaysOutputData": false
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.retrieverVectorStore",
      "typeVersion": 1,
      "position": [
        1840,
        120
      ],
      "id": "81b5b0cf-a5e6-42c9-9329-38e4a1d2735d",
      "name": "Vector Store Retriever"
    },
    {
      "parameters": {
        "qdrantCollection": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.1,
      "position": [
        1900,
        280
      ],
      "id": "54d0cec3-049f-40f0-a4de-dde946ae3990",
      "name": "Qdrant Vector Store1",
      "credentials": {
        "qdrantApi": {
          "id": "sFfERYppMeBnFNeA",
          "name": "Local QdrantApi database"
        }
      }
    },
    {
      "parameters": {
        "chunkSize": 512,
        "chunkOverlap": 60,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        600,
        420
      ],
      "id": "2900586c-794f-47ee-a86c-2c5161204594",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chat-message",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        1120,
        -20
      ],
      "id": "5dee5105-275e-4a1e-95f5-50b3f72988f0",
      "name": "Webhook",
      "webhookId": "db1a76ff-2b79-4a74-97f3-8cd291d23ae1"
    }
  ],
  "pinData": {},
  "connections": {
    "Embeddings Ollama": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "GitHub": {
      "main": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "GitHub",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Question and Answer Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama1": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Vector Store Retriever": {
      "ai_retriever": [
        [
          {
            "node": "Question and Answer Chain",
            "type": "ai_retriever",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store1": {
      "ai_vectorStore": [
        [
          {
            "node": "Vector Store Retriever",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Question and Answer Chain": {
      "main": [
        []
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Question and Answer Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c9a99c0b-5f71-4f9c-967e-1ed731e0adb3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "558d88703fb65b2d0e44613bc35916258b0f0bf983c5d4730c00c424b77ca36a"
  },
  "id": "4nbQk5hl0SoC6YZV",
  "tags": []
}